certifi==2022.12.7 ; python_version >= "3.10" and python_version < "4.0"
chardet==4.0.0 ; python_version >= "3.10" and python_version < "4.0"
cssselect==1.2.0 ; python_version >= "3.10" and python_version < "4.0"
idna==2.10 ; python_version >= "3.10" and python_version < "4.0"
lxml==4.9.2 ; python_version >= "3.10" and python_version < "4.0"
parsel==1.6.0 ; python_version >= "3.10" and python_version < "4.0"
requests==2.25.1 ; python_version >= "3.10" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.10" and python_version < "4.0"
urllib3==1.26.13 ; python_version >= "3.10" and python_version < "4.0"
w3lib==2.1.1 ; python_version >= "3.10" and python_version < "4.0"
